*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFF !important;
}

/** NAVBAR */

.navbar {
    background-color: transparent;
    margin-top: 1cm;
    margin-left: 1.2cm;
    margin-right: 1.2cm;
}

a {
    color: rgb(196, 196, 196);
}

a:hover {
    color: rgb(136, 136, 136) !important;
}

.buttomNav {
    font-family: Barlow;
    font-size: 15pt;
    letter-spacing: 3px;
    color: #FFF;
    background-color: transparent;
    margin-left: 0.5cm;
    padding-top: 0.1px !important;
    padding-bottom: 0.1px !important;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
}

.buttomNav2 {
    font-family: Barlow;
    font-size: 15pt;
    letter-spacing: 3px;
    color: #000;
    background-color: rgba(255,255,255,1);
    margin-left: 0.5cm;
    padding-top: 0.1px !important;
    padding-bottom: 0.1px !important;
    border-color: #000;
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
}

.container1 {
    border-bottom-style: solid;
    border-bottom-color: rgb(136, 136, 136);
    border-width: 4px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding-bottom: 0.8cm;
}

.container2 {
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-width: 4px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: solid;
    padding-bottom: 0.8cm;
}

/** HOME */

.img1 {
    width: 100%;
    display: flex;
    z-index: 0;
    position: relative;
}

.home1 {
    z-index: 1;
    position: absolute;
    margin-left: 2cm !important;
    margin-top: -30px;
    align-items: center;
    display: flex;
    height: 750px;
    overflow: hidden;
    flex-basis: 50%;
}


.text1 {
    font-family: Barlow;
    font-style: Medium !important;
    font-size: 53.3pt;
    color: #FFF;
    display: flex;
    padding-top: 80px;
    line-height: 70px;
}

.text2 {
    font-family: Barlow;
    font-size: 60pt;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: #9308b6;
    display: flex;
    line-height: 68px; 
    margin-left: 0.5cm;
}

.buttomHome {
    font-family: Barlow;
    font-size: 20pt;
    font-weight: 800;
    letter-spacing: 1px;
    color: #FFF;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: linear-gradient(90deg, rgba(255,0,210,0.3) 0%, rgba(214, 224, 8, 0.3) 100%);
    border-radius: 35px;
    margin-left: 0.3cm;
    margin-top: 100px !important;
    box-shadow: 0px 0px  100px black;
}

/** INFO1 */

.info1 {
    background: #FFF;
    height: 750px;
}

.imgInfo1 {
    width: 100%;
    display: flex;
    z-index: 0;
    position: relative;
    margin-top: -270px;
}

.imgInfo2 {
    width: 100%;
    display: flex;
    z-index: 0;
    position: relative;
    margin-top: -30px;
}

.textInfo1 {
    font-family: Barlow;
    font-size: 37.9pt;
    font-weight: 800;
    letter-spacing: -0.9px;
    background: #ccc;
    background: linear-gradient(90deg, rgb(22,22,22), rgb(105, 9, 247), rgb(21,6,108), rgb(255, 89, 39));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
}

.textInfo2 {
    font-family: Barlow;
    font-size: 22pt;
    font-weight: 600;
    margin-left: 7px;
    z-index: 1;
}

.textInfo3 {
    font-family: Barlow;
    font-size: 25pt;
    font-weight: 600;
    color: #3d144e;
    text-align: center;
    margin-top: 80px !important;
}

.bar1 {
    background: linear-gradient(90deg, rgb(21, 0, 139) 0%, rgb(247,58,0) 100%);
    border-radius: 35px;
    height: 4px;
    width: 520px !important;
    text-align: center;
    margin-top: 12px !important;
}

.infoEsp1 {
    margin-top: 220px !important;
    margin-bottom: -15px !important;
}

.infoEsp2 {
    margin-top: 15px !important;
    margin-bottom: -5px !important;
}

/** NOSOTROS */

.nosotros {
    background: #FFF;
    height: 750px;
}

.imgNosotros1 {
    width: 100%;
    display: flex;
    z-index: 0;
    position: absolute;
    margin-top: 0px;
}

.imgNosotros2 {
    width: 90%;
    z-index: 2;
    position: relative;
    margin-top: 185px !important;
}

.textNosotros {
    position: relative;
    z-index: 2;
    margin-left: -30px !important;
    margin-top: 185px !important;
}

.textNosotros1 {
    font-family: Barlow;
    color: #FFF;
    font-size: 25pt;
    font-weight: 600;
}

.textNosotros2 {
    font-family: Barlow;
    letter-spacing: -0.5px;
    color: #FFF;
    font-size: 19pt;
    font-weight: 600;
}

.textNosotros3 {
    font-family: Barlow;
    color: #FFF;
    font-size: 16.5pt;
    font-weight: 600;
    margin-top: 5px !important;
}

.barra1 {
    font-family: Barlow;
    font-size: 30pt;
    font-weight: 600;
    z-index: 1;
    position: relative;
    margin-top: 60px !important;
    background-color: rgb(50, 0, 64, 0.471);
    color: #FFF;
    text-align: center;
    padding-bottom: 5px !important;
    box-shadow: 0px 20px  20px rgba(0, 0, 0, 0.356);
    border-left-style: solid;
    border-right-style: solid;
    border-left-width: 87px;
    border-right-width: 87px;
    border-left-color: linear-gradient(90deg, rgb(21, 0, 139) 0%, rgb(247,58,0) 100%) !important;
    border-right-color:  linear-gradient(90deg, rgb(21, 0, 139) 0%, rgb(247,58,0) 100%);
}

.textNosotros4 {
    font-family: Barlow;
    color: #FFF;
    font-size: 18pt;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    margin-top: 65px !important;
    z-index: 1;
}

.textNosotros5 {
    font-family: Barlow;
    color: #FFF;
    font-size: 17.8pt;
    font-weight: 800;
    text-align: center;
    margin-top: -3px !important;
    position: relative;
    z-index: 1;
}

.dec1 {
    background-color: #FFF;
    height: 3px;
    z-index: 1;
    margin-top: -25px !important;
}

.dec2 {
    background-color: #FFF;
    height: 3px;
    margin-right: 0px;
    z-index: 1;
    margin-top: -25px !important;
}

/** FINAL */

.fondoFinal {
    background: #FFF;
    height: 750px;
}

.finalText1 {
    font-family: Barlow;
    font-size: 37.9pt;
    font-weight: 800;
    letter-spacing: -0.9px;
    text-align: center;
    background: #ccc;
    background: linear-gradient(90deg, rgb(105, 9, 247) 10%, rgb(21,6,108) 50%, rgb(255, 60, 0) 80%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    z-index: 1;
}
}